@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url("//basehold.it/24");*/

html {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 1.125em; /*18 /16 = 1.125*/
  line-height: 1.55555em; /*28 /18 =1.55555em */
  padding: 1.55555em; /*28 /18 =1.55555em */
  background-color: #FFFFE0;
}

fieldset{
  border-color: transparent;
}

#content {
  border-color: transparent;
  background-color: #B0E0E6;
}
